<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linju.android_property2"
    android:versionCode="2"
    android:versionName="2.0" >

    <!-- 权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 允许一个程序接收到 ACTION_BOOT_COMPLETED广播在系统完成启动 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 允许程序禁用键盘锁 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许一个程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 允许一个程序打开窗口使用 TYPE_SYSTEM_ALERT，显示在其他所有程序的顶层 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
	<uses-permission android:name="android.permission.READ_LOGS" />
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:name="com.linju.android_property.application.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 有edittext触发焦点   "stateHidden" adjustPan则不会自动弹出软键盘 -->
        <!-- LoginActivity -->
        <activity
            android:name="com.linju.android_property.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Start"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 程序异常退出的dialog -->
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity
            android:name="com.linju.android_property.activity.MainTabActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.activity.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.personmanager.PositionManager"
            android:screenOrientation="portrait" />

        <!-- 图片画廊 -->

        <activity
            android:name="com.linju.android_photoUtils.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_photoUtils.GetPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_photoUtils.ImageGridActivity"
            android:screenOrientation="portrait" />
        <!-- 公告 -->
        <activity
            android:name="com.linju.android_property.servicemanager.PostList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.servicemanager.PostContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.servicemanager.PostAdd"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--物业费相关  -->
        <activity
            android:name="com.linju.android_property.servicemanager.PropertyList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.servicemanager.PropertyInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.servicemanager.PropertyHostroyList"
            android:screenOrientation="portrait" />
        <!-- 维修 -->
        <activity
            android:name="com.linju.android_property.servicemanager.RepairInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.servicemanager.RepairInfoDone"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.servicemanager.RepairList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--业主信息  -->
        <activity
            android:name="com.linju.android_property.servicemanager.ComplaintList"
            android:screenOrientation="portrait" />
        
        <!-- 投诉 -->
        <activity
            android:name="com.linju.android_property.ownerManager.BuildingInfoList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.servicemanager.ComplaintInfo"
            android:screenOrientation="portrait" />
        
        <!--个人中心  -->
        <activity
            android:name="com.linju.android_property.user.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.linju.android_property.user.UserInfoSettingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>